html, body {
    height: 100%;
    margin: 0;
}

.firstJumbotron{
    border-radius:25px;
    margin-top:20px;
    background-color: #0275d8;
}
.firstJumbotron h1,p{
    color: white;
}
hr{
    border: 2px solid #5bc0de;
    border-radius: 5px;
}

#turn{
    color:white;
}
.color-selection h2{
    margin-bottom: 30px;

}

#yellow{
    height: 150px;
    width:150px;
    border-radius: 50%;
}

#red{
    height: 150px;
    width:150px;
    border-radius: 50%;
}

.connectFourBoard{
    height: 100%;
    widows: 100%;
    display: none;
}

.intro{
    display:flex;
    background-color: #0275d8;
    height: 50px;

}

#turnDisplay{
    display: flex;
    justify-content:flex-start;
}
#textIntro{
    color: white;
    margin-top 20px;
}
#replay{
    visibility: hidden;
}
.board{
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: #5bc0de;
    border: 2px solid #f0ad4e;
    border-radius:25px;
    cursor: pointer;
}



.cell{
    border: 2px solid #f0ad4e;
    background-color: white;
    border-radius: 50%;
    height :90px;
    width: 90px;
    margin:15px;
    padding: 0;

}

.cell:hover{
    background: rgb(174, 244, 255);
}

.hidden{
    display: none;
}

.yellow{
    background-color: #f0ad4e;
}

.red{
    background-color: #d9534f;
}

.yellow-win{
    background-color: #ffff00;
}

.red-win{
    background-color: #ff0000 ;
}
