html, body {
    height: 100%;
    margin: 0;
}

.firstJumbotron{
    border-radius:25px;
    margin-top:20px;
    background-color: #0275d8;
    box-shadow:10px 10px 25px 5px #025ead inset;
}
.firstJumbotron h1,p{
    color: white;
}
hr{
    border: 2px solid #5bc0de;
    box-shadow:10px 10px 25px 5px #018aa7 inset;
    border-radius: 5px;
}

#turn{
    color:white;
}
.color-selection h2{
    margin-bottom: 30px;

}

#yellow{
    height: 150px;
    width:150px;
    border-radius: 50%;
    box-shadow:4px 4px 7px 2px #eb9214 inset;
}

#red{
    height: 150px;
    width:150px;
    border-radius: 50%;
    box-shadow:4px 4px 7px 2px #c32e2a inset;
}

.connectFourBoard{
    height: 100%;
    widows: 100%;
    display: none;
}

.intro{
    display:flex;
    background-color: #0275d8;
    box-shadow:10px 10px 25px 5px #025ead inset;
    height: 50px;

}

#turnDisplay{
    display: flex;
    justify-content:flex-start;
}
#textIntro{
    color: white;
    margin-top 20px;
}
#replay{
    visibility: hidden;
    box-shadow:10px 10px 25px 5px #439a43 inset;
}
.board{
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: #5bc0de;
    box-shadow:10px 10px 25px 5px #018aa7 inset;
    border: 2px solid #00152c;
    border-radius:25px;
    cursor: pointer;
}



.cell{
    border: 2px solid #00152c;
    background-color: white;
    border-radius: 50%;
    height :90px;
    width: 90px;
    margin:15px;
    padding: 0;

}

.cell:hover{
    background: #AEF4FF;
    box-shadow:4px 4px 7px 2px #58e8ff inset;
}

.hidden{
    display: none;
}

.yellow{
    background-color: #f0ad4e;
    box-shadow:4px 4px 7px 2px #eb9214 inset;
}

.red{
    background-color: #d9534f;
    box-shadow:4px 4px 7px 2px #c32e2a inset;
}

.yellow-win{
    background-color: #ffff00;
    box-shadow:4px 4px 7px 2px#ffff40 inset;
}

.red-win{
    background-color: #ff0000 ;
    box-shadow:4px 4px 7px 2px #ff4040 inset;
}
